{% if app.request.attributes.get('_route') is not same as('app_login') %}
    <div class="bg-primary">
        <div class="container w-75 d-flex justify-content-start">
            <div class="text-white my-4">
                portalents @ jerome_salmon | ecf-symfony | 2021
            </div>
        </div>
    </div>
{% endif %}