{% extends 'base.html.twig' %}

{% block title %}Portalents - Ajouter une catégorie{% endblock %}

{% block body %}
    <div class="container w-75 mt-5">
        <div class="container w-75">
			{{ form(modify_category_form) }}
        </div>
    </div>
{% endblock %}