{% extends 'base.html.twig' %}

{% block title %}Portalents - Modifier une profession{% endblock %}

{% block body %}
    <div class="container w-75 mt-5">
        <div class="container w-75">
            {{ form(modify_profession_form) }}
        </div>
    </div>
{% endblock %}