{% extends 'base.html.twig' %}

{% block title %}Portalents - Les compétences{% endblock %}

{% block body %}
	<div class="container mt-5 d-flex flex-column align-items-center">
		<h1 class="mt-4 mb-4">Liste des compétences</h1>
		<div class="container d-flex justify-content-center">
			<table class="table table-hover w-50">
				<thead>
					<tr>
						<th scope="col">
                            <div class="d-flex justify-content-center w-100">Nom</div>
                        </th>
						<th scope="col">
                            <div class="d-flex justify-content-center w-100">Gérer la compétence</div>
                        </th>
					</tr>
				</thead>
				<tbody>
					{% for skill in skills %}
						<tr class="table-light">
							<th class="d-flex justify-content-center w-100 fs-5">
								<div>{{ skill.name }}</div>
							</th>
							<td>
								<div class="d-flex justify-content-center w-100">
									<a href="{{ path('modify_skill', {'id': skill.id}) }}" style="margin-right: 30px;">
										<i class="fas fa-pencil-alt" style="color: black;"></i>
									</a>
									<a href="{{ path('delete_skill', {'id': skill.id}) }}">
										<i class="far fa-trash-alt" style="color: black"></i>
									</a>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="d-flex justify-content-center">
			<button type="button" class="btn btn-primary btn-lg mt-4">
				<a href="{{ path('add_skill') }}" style="color: white; padding: 2px; text-decoration: none;">Ajouter une compétence</a>
			</button>
		</div>
	</div>
{% endblock %}

