{% extends 'base.html.twig' %}

{% block title %}Portalents - Les compétences d'un utilisateur{% endblock %}

{% block body %}
    <div class="container">
        {% for skill_info in skills_infos %}
            <div class="card border-dark mb-3" style="max-width: 20rem;">
                <h4 class="card-header">{{ skill_info[0] }}</h4>
                <div class="card-body">
                    <div class="card-title">Niveau : {{ skill_info[1] }}</div>
                    <div class="card-text">
                        {% if skill_info[2] %}
                            <p>Catégorie appréciée ? Oui</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
