{% extends 'base.html.twig' %}

{% block title %}TalentsManager - Ajouter une expérience{% endblock %}

{% block body %}

    <div class="container w-75 mt-5">
        <div class="container w-75">
            {{ form(add_experience_form) }}
        </div>
    </div>
    
{% endblock %}